# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\_SNHU\- Soph Software Engineering\RemoteWorkouts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
